[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pipdeptree = "*"

[dev-packages]
yapf = "*"
prospector = "*"
pytest = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.9"
